language: ruby
rvm:
  - 2.5.0
notifications:
  email: false
sudo: false
cache:
  bundler: true
bundler_args: --without development:production
before_script:
  - "psql -c 'create database europeana_radio_station_test;' -U postgres"
  - "cp -r ./deploy/travis/. ."
  - "bundle exec rake db:test:prepare"
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rake test
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
env:
  - RAILS_ENV=test
addons:
  postgresql: "9.4"
